appdirs==1.4.0
beautifulsoup4==4.5.1
cffi==1.9.1
Django>=1.10.5,<1.11
Markdown==2.6.7
misaka==2.1.0
packaging==16.8
pycparser==2.17
pytz>=2017.2
pyparsing==2.1.10
six==1.10.0
# from old requirements_dev.txt
bumpversion==0.5.3
flake8>=2.1.0
isort==4.2.5
wheel==0.29.0
git+git://github.com/vintasoftware/django_markdown.git@37f8fe7a5a91a3aab35c2b8ad34c4c7d8d462743#egg=django-markdown
